version: "3.9"

services:
  # provides core gameplay logic
  game-core:
    build:
      context: ./services/core/
      dockerfile: Dockerfile
    ports:
      - "8080:5000"
    depends_on:
      - chat
      - scoreboard

  # stores game-related information
  game-info:
    build:
      context: ./services/info/
      dockerfile: Dockerfile
    ports:
      - "8081:5000"

  scoreboard:
    build:
      context: ./services/scoreboard/
      dockerfile: Dockerfile
    ports:
      - "8082:5000"

  # message queue for the in-game chat
  chat:
    image: 'bitnami/rabbitmq:latest'
    ports:
      - '15672:15672'
      - '5672:5672'
  #
  # use this service for testing if you prefer to run the bot in a container
  # bot:
  #   build:
  #     context: ./clients/bot/
  #     dockerfile: Dockerfile

networks:
  app-tier:
    driver: bridge
